<form ng-show="loanLists.length>0" > 
    
	 <div><h2 class="text-center "><button type="button" ng-click="refresh()" class="btn pull-left btn-info">Refresh</button> Fine
	<input type="text" class="form-control searchBox " ng-model="search" placeholder="SearchBox"></h2></div>
 	 <table  class="table table-striped table-hover">
                            <thead>
                                <tr>
                                   
                                      <th >Card No</th>
                                    <th ng-click="sort('fname')" data-toggle="tooltip" title="Click to Sort">Borrower Name
                                     <span class="glyphicon sort-icon" ng-show="sortKey=='fname'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                                
                                    <th  ng-click="sort('paid')" data-toggle="tooltip" title="Click to Sort">paid <span class="glyphicon sort-icon" ng-show="sortKey=='paid'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                                    <th >Amount</th>
                                    <th ></th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                <tr dir-paginate="bk in loanLists| filter:search|orderBy:sortKey:reverse|itemsPerPage:10">
                                   
                                    <td>{{bk.card_no}}</td>
                                    <td>{{bk.fname}} {{bk.lname}}</td>
                                    <td><span ng-show="bk.paid===1" >Paid</span><span ng-show="bk.paid===0" >Not Paid</td>
                                 
                                    <td><span ng-show="bk.paid===1" ><input type="text" class="form-control" disabled ng-model="bk.amount"></span><span ng-show="bk.paid===0" ><input type="number" min="0.00" step="0.25" class="form-control" ng-required ng-model="bk.amount"></span></td>
                                    
                                    <td><button ng-show="bk.paid===0" type="button" ng-click="pay(bk)" class="btn btn-info">Pay</button>

                                    </td>
                                </tr>
                            </tbody>
                        </table> 
                       
 	</form>	
 	<div  class="text-center"><br><h4>{{PayMessage}}</h4></div>
                          <dir-pagination-controls
       max-size="50"
       direction-links="true"
       boundary-links="true" >
    </dir-pagination-controls>